
GO
/****** Object:  StoredProcedure [dbo].[spHCMPH2_PersonnelMaster]    Script Date: 24/06/2026 5:57:58 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**************************************************************************************************************************************
  SP Name:		spHCMPH2_PersonnelMaster
  Description:  SP for Personnel Master page
  Author:		ALHernandez
  Called from:  NDESS - HR Personnel Master
  ______________________________________________________________________________________________________________________________________
  History
  Change Number		Date						Author						Description
	00								21-Mar-2012		ALHernandez			Initial Creation
	01								02-Jun-2015		ALHernandez			Additional Option
																									- @pOption 7 = Get all master data
	02								18-Oct-2021		JGLimoran				Add tblHR_SOAPersonnelMaster in Option 3
	03								08-Apr-2022		JBPalma					Added Option 8 to 11;
																										- Option 8		= Inserting Logs
																										- Option 9		= Update Personnel Login (Login2) Password
																										- Option 10	= Compare table Login2 and tblHR_Login2Logs
																										- Option 11	=	Get Network Number; for username increments
																									Added variables
	04								28-Sep-2022		JNMaghopoy			Added Option 12 to 16
																										- Option 12	= Generate random password
																										- Option 13	= Show last generated password as message
																										- Option 14	= Create employee
																										- Option 15	= Update employee
																										- Option 16	= Save generated password in existing employee

	05								30-Apr-2024		JGMAyo					1.	Add header information where there is none
																			2.	Add lines of codes at the start of the SP to insert the SP name into the tblSPRunLogs table.
																			3.	Add lines of code at the end of the SP to set the date/time (DTEnd) when execution ends. 
																			change Options 1-5 to 8-15
																			Commented old options 1-6 and 8-20
																			Removed unused parameters
																				For NEW Personnel Master
																										- Option 1  = READ
																										- Option 2  = CREATE
																										- Option 3  = UPDATE
																										- Option 4  = READ user
																										- Option 5  = READ Log Table
																										- Option 8  = Load employee DropDownList(DDL)
																										- Option 9  = Load employee sub DDL
																										- Option 10 = Load Cost Center DDL
																										- Option 11 = Load Position DDL
																										- Option 12 = Load Division DDL
																										- Option 13 = Load Work Schedule DDL
																										- Option 14 = Load Department DDL	
																										- Option 15 = Read Position data
																										- Option 16 = Create Position data
																										- Option 17 = Delete Position data
																										- Option 18 = Update Position data
																										- Option 19 = Read Positions in PM
																										- Option 20 = Add dev tools option
	06								05-Sept-2024		JGMAyo				Modified Option 2 to handle 90 days reset for new employees.
	07								06-Jun-2026			COOreto				Modified Option 13 added a checking if the schedule is active
	______________________________________________________________________________________________________________________________________
	** For developers: Please update history for us to keep track of the changes made on this SP
**************************************************************************************************************************************/

-- Begin: Change Number 05
ALTER PROCEDURE [dbo].[spHCMPH2_PersonnelMaster]
  @pOption				INT,
  @pIDNumber			NVARCHAR(10)	= NULL,
  @pLastName			NVARCHAR(50)	= NULL,
  @pFirstName			NVARCHAR(50)	= NULL,
  @pMiddleName			NVARCHAR(50)	= '',
  @pSuffix				NVARCHAR(5)		= NULL,
  @pDTBirth				NVARCHAR(30)	= NULL, -------------
  @pEmployeeGroup		NVARCHAR(1)		= NULL,
  @pEmployeeSubGroup	NVARCHAR(2)		= NULL,
  @pCostCenter			NVARCHAR(10)	= NULL,
  @pPosition			NVARCHAR(100)	= NULL,
  @pDepartmentCode		NVARCHAR(10)	= NULL,
  @pUnitCode			NVARCHAR(10)	= NULL,
  @pDTHired				NVARCHAR(30)	= NULL, -------------
  @pDTRegular			NVARCHAR(30)	= NULL, -------------
  @pDTSeparated			NVARCHAR(30)	= NULL, -------------
  @pDTCreated			NVARCHAR(30)	= NULL, -------------
  @pCreatedBy			NVARCHAR(50)	= NULL,
  @pSchedCode			NVARCHAR(10)	= NULL,
  @pLastUpdateBy		NVARCHAR(50)	= NULL,
  @pDTModified			NVARCHAR(30)	= NULL, -------------
  @pPassword			VARCHAR(200)	= NULL,
  @pCurrentUser			NVARCHAR(50)	= NULL,
  @pUsername			NVARCHAR(50)	= NULL,
  @pCurrentPosition		NVArCHAR(50)	= NULL,

  -- Outputs the username
  @OUserName NVARCHAR(50)				= NULL OUTPUT 
AS

	DECLARE	
	@lTimeStap			DATETIME		= GETDATE(),

	@lFname				NVARCHAR(50)	= NULL,
	@lLname				NVARCHAR(50)	= NULL,
	@lDepartment		NVARCHAR(100)	= NULL,
	@lPosition 			NVARCHAR(50)	= NULL,
	@IDExists			BIT				= 0,
	@msg				NVARCHAR(2048)	= NULL,
	@lRetries			INT				= NULL,
	@lSets				INT				= NULL

	SET @pIDNumber = RIGHT(CONCAT('00000000', @pIDNumber), 8)

	DECLARE @Execid INT
	INSERT INTO tblSPRunLogs
	VALUES (OBJECT_NAME(@@PROCID), @pOption, GETDATE(), NULL)
	SET @Execid=@@IDENTITY

IF @pOption = 1 -- Read all Employee data
BEGIN
	SELECT DISTINCT  PM.IDNumber,
				CONCAT(' ', COALESCE(PM.LastName, ''), ', ', COALESCE(PM.FirstName,	''), ' '
														, COALESCE(PM.MiddleName,	''), ' '
														, COALESCE(PM.Suffix,		''))			
																						AS FullName,
         
				CONCAT(COALESCE(PM.EmployeeSubGroup, ''), ' - ', COALESCE(EC.CategoryDesc, '')) 
																						AS EmpSubGroup,
				CONCAT(COALESCE(PM.CostCenter, ''), ' - ', COALESCE(CC.Short_Text, ''))		
																						AS CostCenter,
				CONCAT(COALESCE(PM.DepartmentCode, ''), ' - ', COALESCE(DU.DepartmentName, '')) 
																						AS DepartmentNames,
				CONCAT(COALESCE(PM.UnitCode, ''), ' - ', COALESCE(DU.UnitName, ''))		AS UnitNames,
				CONCAT(COALESCE(PM.SchedCode, ''), ' - ', COALESCE(WS.SchedDesc, ''))		AS Worksched,
				PM.UserName, 
				COALESCE(PM.LastName, '')		AS LastName, 
				COALESCE(PM.FirstName, '')		AS FirstName,
				COALESCE(PM.MiddleName, '')	AS MiddleName, 
				COALESCE(PM.Suffix, '')		AS Suffix, 
				CONCAT(COALESCE(PM.EmployeeGroup, ''), ' - ', COALESCE(EG.Description, ''))	
																		AS EmployeeGroup,
				COALESCE(PM.Position, '')		AS Position,
				COALESCE(CONVERT(VARCHAR, PM.DTBirth, 101), '')			AS DTBirth,
				COALESCE(CONVERT(VARCHAR, PM.DTHired, 101), '')			AS DTHired,
				COALESCE(CONVERT(VARCHAR, PM.DTRegular, 101), '')			AS DTRegular,
				COALESCE(CONVERT(VARCHAR, PM.DTSeparated, 101), '')		AS DTSeparated,
				COALESCE(CONVERT(VARCHAR, PM.DTCreated, 101), '')			AS DTCreated,
				COALESCE(CONVERT(VARCHAR, PM.DTModified, 101), '')			AS DTModified,
				COALESCE(PM.LastUpdateBy, '')								AS LastUpdateBy,
				COALESCE(PM.CreatedBy, '')									AS CreatedBy
	FROM tblHR_PersonnelMaster AS PM 
	LEFT JOIN tblHR_WorkSchedule AS WS 
							ON PM.SchedCode = WS.SchedCode
	LEFT JOIN tblhr_employeeGroups AS EG 
							ON PM.EmployeeGroup = EG.EmployeeGroup
	LEFT JOIN tblHR_EmployeeCat AS EC 
							ON PM.EmployeeSubGroup = EC.CategoryCode
	LEFT JOIN tblCostCenter AS CC 
							ON PM.CostCenter = CONVERT(INTEGER, CC.Cost_Center)
	LEFT JOIN tblHR_DepartmentUnit AS DU 
							ON PM.DepartmentCode = DU.DepartmentCode 
							AND PM.UnitCode = DU.UnitCode		
END

ELSE IF @pOption = 2 -- Create Employee data
BEGIN
	BEGIN TRAN;
    
    BEGIN TRY

    IF EXISTS (SELECT 1 FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber)
    BEGIN
		DECLARE @ErrorMessage NVARCHAR(100) = 'ID number already exists in the system.';
		RAISERROR(@ErrorMessage, 16, 1);
    END


	DECLARE @lFirstName		NCHAR(1)		= LEFT(@pFirstName,1),
			@lMiddleName	NVARCHAR(1)		= IIF(@pMiddleName != '', LEFT(@pMiddleName,1), ''),
			@Count			TINYINT			= 0

	DECLARE	@lUserName		NVARCHAR(50)	= CONCAT(@lFirstName, @lMiddleName, @pLastName)
		SET @lUserName						= REPLACE(@lUserName, ' ', '');
		SELECT @Count =  COUNT(*) FROM tblHR_PersonnelMaster 
		WHERE UserName LIKE @lUserName + '%' AND PATINDEX('%[^0-9]%', RIGHT(username, LEN(username) - LEN(@lUserName))) = 0
			IF @Count > 0
			BEGIN
				SELECT @lUserName = CONCAT(@lUserName , COUNT(*))
				FROM tblHR_PersonnelMaster 
				WHERE UserName LIKE @lUserName + '%' AND PATINDEX('%[^0-9]%', RIGHT(username, LEN(username) - LEN(@lUserName))) = 0
			END	

	INSERT INTO tblHR_PersonnelMaster 
		(IDNumber, LastName, FirstName
		, MiddleName, Suffix, DTBirth 
		, UserName, EmployeeGroup, EmployeeSubGroup
		, CostCenter, Position
		, DepartmentCode, UnitCode, SchedCode
		, DTHired, CreatedBy, DTCreated)
	VALUES 
		(@pIDNumber, @pLastName, @pFirstName
		, @pMiddleName, @pSuffix, CONVERT(DATETIME, @pDTBirth, 101)
		, @lUserName, @pEmployeeGroup, @pEmployeeSubGroup
		, CAST(CAST(@pCostCenter AS INT) AS VARCHAR), @pPosition
		, @pDepartmentCode, @pUnitCode, @pSchedCode
		, CONVERT(DATETIME, @pDTHired, 101), @pCurrentUser, CONVERT(NVARCHAR(23), @lTimeStap, 121));
			
	INSERT INTO tblHR_PersonnelMasterEXT 
		(UserName, Location, CreatedBy, DateCreated
			, Position
			, EmailAddress)
	SELECT @lUserName, 'WTO', @pCurrentUser, @lTimeStap
			, CAST(P.UAMPOSI AS NVARCHAR(10))
			, CONCAT(@lUserName, '@neltex.com')
	FROM tblHR_PersonnelMaster AS PM
	LEFT JOIN tblUAM_Position AS P 
					ON PM.Position = P.PSTDESC
	WHERE PM.UserName = @lUserName

	INSERT INTO tblHR_SOAPersonnelMaster 
		(IDNumber, VendorCode, Email)
	VALUES(@pIDNumber , NULL,NULL)

		    -- Create NDESS account  
	-- Begin: Change Number 06
	SELECT Code, Value
	INTO #TempConfig
	FROM tblConfiguration
	WHERE Category = 'Password Management';


	SELECT @lRetries = Value FROM #TempConfig WHERE Code = 'retries';
	SELECT @lSets = Value FROM #TempConfig WHERE Code = 'setsBeforeLock';

	IF NOT EXISTS (SELECT 1 FROM Login2 WHERE UserName IN 
					(SELECT UserName FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber ))
	BEGIN
	INSERT INTO Login2 (UserName, FName, LName
						, [Password], SAPUser, Department
						, Position, Approver,Category,SAPAccess
						, BirthDate, Attempts, DTUnlock)
	SELECT DISTINCT UPPER(Username) AS [UserName], FirstName
						, LastName, @pPassword, 'NELTEX_Batch' AS [SAPUser]
						, b.DepartmentName,a.Position,NULL AS [Approver]
						, 'NEW' AS [Category], NULL AS [SAPAccess]
						, a.DTBirth, (@lRetries * @lSets), GETDATE() 
	FROM tblHR_PersonnelMaster AS a
	INNER JOIN tblHR_DepartmentUnit AS b 
				ON a.DepartmentCode = b.DepartmentCode  
	WHERE a.IDNumber = @pIDNumber 
	END 
	
	DROP TABLE #TempConfig

	INSERT INTO tblUserPasswordHistory(Username, DTCreated, [Password])
	VALUES(@lUserName, @lTimeStap, @pPassword)
	-- End: Change Number 06


	SET @OUserName = @lUserName;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
      IF @@trancount > 0 ROLLBACK TRANSACTION

      SET @msg = error_message()

      RAISERROR (@msg, 16, 1)

    END CATCH;
END

ELSE IF @pOption = 3 -- Update Employee data
BEGIN
BEGIN TRAN;

	BEGIN TRY


		SELECT @lPosition = UAMPOSI 
		FROM tblUAM_Position
		WHERE PSTDESC = @pPosition

		UPDATE tblHR_PersonnelMasterEXT 
		SET Position	= @lPosition,
			UpdatedBy	= @pCurrentUser,
			DateUpdated = @lTimeStap
		WHERE UserName = @pUserName
				AND @lPosition != Position
			
		SELECT TOP 1 @lDepartment = DepartmentName
		FROM tblHR_DepartmentUnit
		WHERE @pDepartmentCode = DepartmentCode

		PRINT @lDepartment

		UPDATE Login2
		SET Fname		= UPPER(@pFirstName),
			Lname		= UPPER(@pLastName),
			Department	= @lDepartment,
			Position	= @pPosition,
			BirthDate	= CONVERT(DATETIME, @pDTBirth, 101)
		WHERE UserName = @pUserName 
			AND (
				Fname			!= UPPER(@pFirstName) 
				OR Lname		!= UPPER(@pLastName)
				OR Department	!= @lDepartment
				OR Position		!= @pPosition
				OR BirthDate	!= CONVERT(DATETIME, @pDTBirth, 101)
				)

		UPDATE tblHR_PersonnelMaster 
		SET LastName			= @pLastName,
			FirstName			= @pFirstName,
			MiddleName			= @pMiddleName,
			Suffix				= @pSuffix,
			DTBirth				= CONVERT(DATETIME, @pDTBirth, 101),
			EmployeeGroup		= @pEmployeeGroup,
			EmployeeSubGroup	= @pEmployeeSubGroup,
			CostCenter			= CAST(@pCostCenter AS INT),
			Position			= @pPosition,
			DepartmentCode		= @pDepartmentCode,
			UnitCode			= @pUnitCode,
			SchedCode			= @pSchedCode,
			DTHired				= CONVERT(DATETIME, @pDTHired, 101),
			LastUpdateBy		= @pCurrentUser,
			DTModified			= CONVERT(NVARCHAR(23), GETDATE(), 121),
			DTRegular			= CASE WHEN @pDTRegular IS NOT NULL 
											THEN CONVERT(DATETIME, @pDTRegular, 101) 
											ELSE NULL END,
			DTSeparated			= CASE WHEN @pDTSeparated IS NOT NULL 
											THEN CONVERT(DATETIME, @pDTSeparated, 101) 
											ELSE NULL END
			WHERE IDNumber		= @pIDNumber;



		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		IF @@trancount > 0 ROLLBACK TRANSACTION

		SET @msg = error_message()

		RAISERROR (@msg, 16, 1)
	END CATCH;
END

ELSE IF @pOption = 4 -- Read a employee data
BEGIN
	SELECT IDNumber, LastName, FirstName, MiddleName
			, Suffix
			, COALESCE(CONVERT(NVARCHAR, DTBirth, 101), '')			AS 'DTBirth'
			, EmployeeGroup, EmployeeSubGroup
			, CostCenter											AS 'CostCenter'
			, Position, DepartmentCode, UnitCode
			, CONVERT(NVARCHAR, DTHired, 101)						AS 'DTHired'
			, COALESCE(CONVERT(NVARCHAR, DTRegular, 101),'')		AS 'DTRegular'
			, COALESCE(CONVERT(NVARCHAR, DTSeparated, 101), '')		AS 'DTSeparated'
			, SchedCode, UserName

		FROM tblHR_PersonnelMaster
		WHERE IDNumber = @pIDNumber
END

ELSE IF @pOption = 5 -- View Change log table of an employee
BEGIN
	IF LEN(@pIDNumber) < 8
				BEGIN
					SELECT @pIDNumber = RIGHT(REPLICATE('0', 8) + @pIDNumber, 8);
				END
			IF LEN(@pIDNumber) = 10
				BEGIN
					SELECT @pIDNumber = RIGHT(@pIDNumber, 8);
				END
			SELECT 
				COALESCE(ItemKey,	' ')	AS ItemKey, 
				COALESCE(FieldName, ' ')	AS FieldName, 
				COALESCE(ValueFrom, ' ')	AS ValueFrom, 
				COALESCE(ValueTo,	' ')	AS ValueTo, 
				COALESCE(ChangedBy, ' ')	AS ChangedBy, 
				COALESCE(FORMAT(DTime, 'MM/dd/yy hh:mm tt'), ' ') AS DTime
			FROM ztblTableUpdateLogs as TUL
			WHERE ItemKey = @pIDNumber
			ORDER BY TUL.DTime ASC
END
-- End: Change Number 05

IF @pOption = 7     -- Get all master data
BEGIN
	SELECT IDNumber, LastName, FirstName, MiddleName, (UPPER(LastName) + ', ' + UPPER(FirstName) + ' ' + UPPER(MiddleName)) AS 'EmpName'
	FROM tblHR_PersonnelMaster ORDER BY LastName, FirstName, MiddleName 
END

-- Begin: Change Number 05
	
ELSE IF @pOption = 8 -- Load employee categories
BEGIN
	SELECT CONCAT(EmployeeGroup, ' - ', Description) AS 'Text', EmployeeGroup AS 'Value'
	FROM tblhr_employeeGroups;
END

ELSE IF @pOption = 9 -- Load employee sub-categories
BEGIN
	SELECT CONCAT(CategoryCode, ' - ', CategoryDesc) AS 'Text', CategoryCode AS 'Value'
	FROM tblHR_EmployeeCat;
END

ELSE IF @pOption = 10 -- Load cost centers 
BEGIN
	SELECT CASE WHEN Cost_Center = '' 
				THEN '' 
				ELSE CONCAT(CONVERT(BIGINT, Cost_Center), ' - ', Short_Text ) 
				END AS 'Text'
				, CONVERT(BIGINT, Cost_Center) AS 'Value'
	FROM tblCostCenter
	WHERE CONVERT(BIGINT, Cost_Center) != 0;
END



ELSE IF @pOption = 11 -- Load positions
BEGIN
	SELECT CONCAT(CAST(UAMPOSI AS VARCHAR), ' - ', PSTDESC) AS 'Text'
												, PSTDESC	AS 'Value'
	FROM tblUAM_Position;
END

ELSE IF @pOption = 12 -- Load divisions
BEGIN
	SELECT DISTINCT CONCAT(DepartmentCode, ' - ', DepartmentName)	AS 'Text'
												, DepartmentCode	AS 'Value'
	FROM tblHR_DepartmentUnit;
END

ELSE IF @pOption = 13 -- Load work schedules
BEGIN
	SELECT CONCAT(SchedCode, ' - ', SchedDesc) AS 'Text'
								, SchedCode	   AS 'Value'
								,*
	FROM tblHR_WorkSchedule 
		WHERE isActive = 1 --CR#07
END

ELSE IF @pOption = 14 -- Load Department
BEGIN
	SELECT CONCAT(UnitCode, ' - ', UnitName) AS 'Text'
								, UnitCode	 AS 'Value'
	FROM tblHR_DepartmentUnit
	WHERE DepartmentCode = @pDepartmentCode
END

ELSE IF @pOption = 15 -- Read positions
BEGIN
	SELECT UAMPOSI AS 'ID', PSTDESC AS 'PositionName'
	  FROM tblUAM_Position
END

ELSE IF @pOption = 16 -- Create new Position 
BEGIN

	BEGIN TRY
	BEGIN TRAN

		INSERT INTO tblUAM_Position (PSTDESC,CreatedBy, DTCreated)
		VALUES (@pPosition, @pCreatedBy, @lTimeStap);

		INSERT INTO tblPositionLogs (UserName, Date, Action, Position)
		VALUES(@pCurrentUser, @lTimeStap, 'NEW', @pPosition)

	COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@trancount > 0 ROLLBACK TRANSACTION
		SET @msg = error_message()
		RAISERROR (@msg, 16, 1)
	END CATCH

END

ELSE IF @pOption = 17 -- Delete Position 
BEGIN
	BEGIN TRY
	BEGIN TRAN

		DELETE FROM tblUAM_Position
		WHERE PSTDESC = @pPosition;

		INSERT INTO tblPositionLogs (UserName, Date, Action, Position)
		VALUES(@pCurrentUser, @lTimeStap, 'DELETE', @pPosition)

	COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@trancount > 0 ROLLBACK TRANSACTION
		SET @msg = error_message()
		RAISERROR (@msg, 16, 1)
	END CATCH
END

ELSE IF @pOption = 18 -- Update Position
BEGIN
	BEGIN TRY
	BEGIN TRAN

		UPDATE tblUAM_Position
		SET 
			PSTDESC = @pPosition,
			UpdatedBy = @pCurrentUser,
			DTUpdated = @lTimeStap
		WHERE PSTDESC = @pCurrentPosition;
		
		UPDATE tblHR_PersonnelMaster
		SET
			Position = @pPosition
		WHERE Position = @pCurrentPosition

		INSERT INTO tblPositionLogs (UserName, Date, Action, Position)
		VALUES(@pCurrentUser, @lTimeStap, 'EDIT', @pPosition)

	COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@trancount > 0 ROLLBACK TRANSACTION
		SET @msg = error_message()
		RAISERROR (@msg, 16, 1)
	END CATCH
END

ELSE IF @pOption = 19 -- Read Active Positions in Personnel Master
BEGIN

	SELECT DISTINCT Position as 'PositionName'
	FROM tblHR_PersonnelMaster
	WHERE Position IS NOT NULL;


END

ELSE IF @pOption = 20 -- Enable/Disable Dev tools 
BEGIN
	SELECT Value FROM tblConfiguration
	WHERE Category = 'Company' AND
		Code = 'NORCLICK'


END

UPDATE tblSPRunLogs SET DTEnd = GETDATE() 
WHERE Execid = @Execid






/*
 @pGender             VARCHAR(1)    = NULL,
  @pCivilStatus        VARCHAR(1)    = NULL,
  @pHomeAddress        VARCHAR(200)  = NULL,
  @pDistrict           VARCHAR(50)   = NULL,
  @pCity               VARCHAR(50)   = NULL,
  @pContactNumber      VARCHAR(20)   = NULL,
  @pTINumber           VARCHAR(20)   = NULL,
  @pSSSNumber          VARCHAR(20)   = NULL,
  @pPhilHealthNumber   VARCHAR(20)   = NULL,
  @pHDMFNumber         VARCHAR(20)   = NULL,
  @pPayrollType        VARCHAR(2)    = NULL,
  @pSavingsAccountNum  VARCHAR(20)   = NULL,
  @pBankKey            VARCHAR(12)   = NULL,
  @pCheckAccountNum    VARCHAR(20)   = NULL,
  @pTaxStatus          VARCHAR(5)    = NULL,
  @pNumDependents      INT           = NULL,


  @pWithDomain         INT           = NULL,

  @pNDESSPassword      VARCHAR(500)  = NULL,
  @pSAPUser            VARCHAR(20)   = NULL,
  @pLogonType          VARCHAR(5)    = NULL,

  -- Begin: Change Number 03

	@pNewPassword	 VARCHAR(MAX) = NULL,
	@pFieldName VARCHAR(20) = NULL, 
	@pOldValue VARCHAR(MAX) = NULL, 
	@pNewValue VARCHAR(MAX) = NULL, 
	@pDTChanged DATETIME = NULL, 
	@pNewPosition VARCHAR (MAX) = NULL, 
	@pPHDCNT INT = NULL,
	@pFilterOption	 VARCHAR (50)	= NULL, 
	@pFilterValues VARCHAR (100)	= NULL,
	@pSetQuery VARCHAR(MAX) = NULL,
	@pstrFind VARCHAR (MAX) = NULL,
	@POSI VARCHAR (10) = NULL, -- variable for position
	@gMsg VARCHAR(MAX) = '',
	
	@TypeHR TypeHR_PersonnelMaster READONLY,
  -- End: Change Number 03

	-- Local variable.




-- Format ID Number
IF @pIDNumber IS NOT NULL AND @pIDNumber != 'xxxxxxxx'
   SET @pIDNumber = REPLACE(STR(@pIDNumber, 8), SPACE(1), '0')


IF @pOption = 1          -- Get data of ID Number
   BEGIN
      SELECT (LastName + ', ' + FirstName + ' ' + MiddleName) AS 'EmpName', *
      FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber
   END

ELSE IF @pOption = 2     -- Get data of Employee Name
   BEGIN
      SELECT (LastName + ', ' + FirstName + ' ' + MiddleName) AS 'EmpName', *
      FROM tblHR_PersonnelMaster WHERE LastName = @pLastName AND
                                      FirstName = @pFirstName AND
                                     MiddleName = @pMiddleName AND
                                         Suffix = @pSuffix 
   END

ELSE IF @pOption = 3     -- Insert new record
   BEGIN
      INSERT INTO tblHR_PersonnelMaster (IDNumber, LastName, FirstName, MiddleName, Suffix,
                                         DTBirth, Gender, CivilStatus,
                                         HomeAddress, District, City, ContactNumber,
                                         TINumber, SSSNumber, PhilHealthNumber, HDMFNumber,
                                         PayrollType, SavingsAccountNum, BankKey, CheckAccountNum,
                                         TaxStatus, NumDependents, 
                                         EmployeeGroup, EmployeeSubGroup,
                                         CostCenter,
                                         Position, DepartmentCode, UnitCode, 
                                         DTHired, DTRegular, DTSeparated,
                                         SchedCode,
                                         WithDomain, UserName,
                                         DTCreated, CreatedBy
                                        )
      SELECT @pIDNumber, @pLastName, @pFirstName, @pMiddleName, @pSuffix,
             @pDTBirth, @pGender, @pCivilStatus,
             @pHomeAddress, @pDistrict, @pCity, @pContactNumber,
             @pTINumber, @pSSSNumber, @pPhilHealthNumber, @pHDMFNumber,
             @pPayrollType, @pSavingsAccountNum, @pBankKey, @pCheckAccountNum,
             @pTaxStatus, @pNumDependents, 
             @pEmployeeGroup, @pEmployeeSubGroup,
             @pCostCenter,
             @pPosition, @pDepartmentCode, @pUnitCode, 
             @pDTHired, @pDTRegular, @pDTSeparated,
             @pSchedCode, 
             @pWithDomain, @pUserName,
             GetDate(), @pCreatedBy
			 --CN03
			 	INSERT INTO tblHR_SOAPersonnelMaster VALUES(@pIDNumber , NULL,NULL)

      -- Create NDESS account 
      IF NOT EXISTS (SELECT 1 FROM Login2 WHERE UserName IN (SELECT UserName FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber ))
	  BEGIN
      INSERT INTO Login2 (UserName, FName, LName, [Password], SAPUser, Department, Position, Approver,Category,SAPAccess, BirthDate)
      SELECT DISTINCT UPPER(Username) AS 'UserName', FirstName, LastName, '555649484949485649495449484949504854525257' AS 'Password',
             'NELTEX_Batch' AS 'SAPUser', b.DepartmentName,a.Position,NULL AS 'Approver', 'NEW' AS 'Category', NULL AS 'SAPAccess', a.DTBirth 
	  FROM tblHR_PersonnelMaster a INNER JOIN tblHR_DepartmentUnit b on a.DepartmentCode = b.DepartmentCode  
      WHERE a.IDNumber = @pIDNumber 
      END

   END

ELSE IF @pOption = 4     -- Get data of Employee Name
   BEGIN
      SELECT (LastName + ', ' + FirstName + ' ' + MiddleName) AS 'EmpName', *
      FROM tblHR_PersonnelMaster WHERE LastName LIKE @pLastName + '%'
   END

ELSE IF @pOption = 5     -- Edit data
   BEGIN
      UPDATE tblHR_PersonnelMaster SET IDNumber = @pIDNumber, LastName = @pLastName, FirstName = @pFirstName, MiddleName = @pMiddleName, Suffix = @pSuffix,
                                       DTBirth = @pDTBirth, Gender = @pGender, CivilStatus = @pCivilStatus,
                                       HomeAddress = @pHomeAddress, District = @pDistrict, City = @pCity, ContactNumber = @pContactNumber,
                                       TINumber = @pTINumber, SSSNumber = @pSSSNumber, PhilHealthNumber = @pPhilHealthNumber, HDMFNumber = @pHDMFNumber,
                                       PayrollType = @pPayrollType, SavingsAccountNum = @pSavingsAccountNum, BankKey = @pBankKey, CheckAccountNum = @pCheckAccountNum,
                                       TaxStatus = @pTaxStatus, NumDependents = @pNumDependents, 
                                       EmployeeGroup = @pEmployeeGroup, EmployeeSubGroup = @pEmployeeSubGroup,
                                       CostCenter = @pCostCenter,
                                       Position = @pPosition, DepartmentCode = @pDepartmentCode, UnitCode = @pUnitCode, 
                                       DTHired = @pDTHired, 
                                       DTRegular = @pDTRegular,
                                       DTSeparated = @pDTSeparated,
                                       SchedCode = @pSchedCode,
                                       WithDomain = @pWithDomain, UserName = @pUserName,
                                       LastUpdateBy = @pCreatedBy, DTModified = GetDate()
      WHERE IDNumber = @pIDNumber
   END

ELSE IF @pOption = 6     -- Get confi people
   BEGIN
      SELECT * FROM tblHR_PersonnelMaster WHERE PayrollType = 'C' ORDER BY LastName, FirstName, MiddleName ASC
   END


ELSE IF @pOption = 8 -- Inserting logs
	BEGIN
	-- CREATING AN ACCOUNT FOR THE FIRST TIME // NEW GENERATED PASSWORD IS SHOWN
	IF NOT EXISTS (SELECT 1 
								FROM tblHR_Login2Logs 
								WHERE UserName = @pUserName)
			BEGIN
				INSERT INTO tblHR_Login2Logs (
				UserName, FieldName, OldValue, NewValue, CreatedBy, ChangedBy, DateChanged)
				SELECT
				@pUserName, @pFieldName, @pOldValue, @pNewValue, @pCreatedBy, null, getdate()	
			END
	
	-- GENERATING PASSWORD FOR THE 2ND TIME AND ABOVE
	ELSE IF EXISTS (SELECT 1 
								FROM tblHR_Login2Logs 
								WHERE UserName = @pUserName)
			BEGIN
				SET @pNewValue = @pOldValue
				SET @pOldValue = (SELECT TOP 1 NewValue 
													FROM tblHR_Login2Logs 
													WHERE UserName = @pUserName 
													ORDER BY DateChanged DESC)
				INSERT INTO tblHR_Login2Logs (
				UserName, FieldName, OldValue, NewValue, CreatedBy, ChangedBy, DateChanged) 
				SELECT @pUserName, @pFieldName, @pOldValue, @pNewValue, null, @pCreatedBy, getdate()	
			END
		END

ELSE IF @pOption = 9 -- Update personnel login password
	BEGIN
		UPDATE Login2 
		SET [Password] = @pPassword 
		WHERE UserName = @pUserName
	END

ELSE IF @pOption = 10 -- Compare table Login2 and tblHR_Login2Logs
	BEGIN
	DECLARE @pBoolean INT, @pCheckPassword VARCHAR (MAX), @pCheckNewValue VARCHAR (MAX)		
	SET @pCheckPassword = (SELECT [Password] 
													FROM Login2 
													WHERE UserName = @pUserName )

	SET @pCheckNewValue = (SELECT TOP 1 NewValue 
													FROM tblHR_Login2Logs 
													WHERE UserName = @pUserName 
													ORDER BY DateChanged DESC )
	IF @pCheckPassword = @pCheckNewValue
		BEGIN
			SET @pBoolean = 1
			SELECT @pBoolean AS 'BOOLEAN'
		END

		ELSE BEGIN
			SET @pBoolean = 0
			SELECT @pBoolean AS 'BOOLEAN'
		END
END

ELSE IF @pOption = 11 -- Get network number
	BEGIN
	--SELECT UserName AS NetworkName from tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber
	SET @pIDNumber = (SELECT TOP 1 IDNumber 
											FROM tblHR_PersonnelMaster 
											ORDER BY IDNumber DESC) 

	SELECT RIGHT('00000000' + CONVERT(VARCHAR, @pIDNumber + 1),8) IDNumber
END

ELSE IF @pOption = 12 -- Generate random password
	BEGIN
	DECLARE @pPass VARCHAR(8)
		
	SELECT @pPass = COALESCE(@pPass, '') + n
	FROM (SELECT TOP 8 
	CHAR(number) n FROM
	master..spt_values
	WHERE type = 'P' AND 
	(number BETWEEN ascii(0) AND ascii(9)
	OR number BETWEEN ascii('A') AND ascii('Z')
	OR number BETWEEN ascii('a') AND ascii('z'))
	ORDER BY newid()) a

	SELECT @pPass As [Password]
END

ELSE IF @pOption = 13 -- Show last generated password as message (unused)
	BEGIN	
		SET @pFieldName = (SELECT TOP 1 DateChanged 
												FROM tblHR_Login2Logs 
												WHERE username IN (SELECT UserName 
																						FROM tblHR_PersonnelMaster 
																						WHERE IDNumber = RIGHT('00000000' + @pstrFind,8)) 
																						ORDER BY ID DESC)

		SELECT (LastName + ', ' + FirstName + ' ' + MiddleName) 'Name', IDNumber, LastName, FirstName, MiddleName, 
		Suffix, EmployeeGroup, EmployeeSubGroup, Position, RIGHT('0000000000' + CostCenter, 10) CostCenter, DepartmentCode, SchedCode, UnitCode,
		CASE WHEN DTHired IS NULL OR DTHired = '1900-01-01 00:00:00.000' THEN '' 
			ELSE CONVERT(VARCHAR, DTHired, 101) END DateHired, 
		CASE WHEN DTSeparated IS NULL OR DTSeparated = '1900-01-01 00:00:00.000' THEN '' 
			ELSE CONVERT(VARCHAR, DTSeparated, 101) END DateSept,
		CASE WHEN DTBirth IS NULL OR DTBirth = '1900-01-01 00:00:00.000' THEN '' 
			ELSE CONVERT(VARCHAR, DTBirth, 101) END Birthday, WithDomain, UserName,
		CASE WHEN ISNULL(@pFieldName,'') = '' THEN '' 
			ELSE 'Password has been generated last ' + CONVERT (VARCHAR, @pFieldName , 100) END Note
		FROM tblHR_PersonnelMaster 
		WHERE IDNumber = RIGHT('00000000' + @pstrFind,8)	

		SELECT (LastName + ', ' + FirstName + ' ' + MiddleName) 'Name', IDNumber, LastName, FirstName, MiddleName, 
		Suffix, EmployeeGroup, EmployeeSubGroup,  Position, RIGHT('0000000000' + CostCenter, 10) CostCenter, DepartmentCode, SchedCode, UnitCode,
		CASE WHEN DTHired IS NULL OR DTHired = '1900-01-01 00:00:00.000' THEN '' 
			ELSE CONVERT(VARCHAR,DTHired, 101) END DateHired, 
		CASE WHEN DTSeparated IS NULL OR DTSeparated = '1900-01-01 00:00:00.000'  THEN '' 
			ELSE CONVERT(VARCHAR,DTSeparated, 101) END DateSept,
		CASE WHEN DTBirth IS NULL OR DTBirth = '1900-01-01 00:00:00.000'  THEN '' 
			ELSE CONVERT(VARCHAR,DTBirth, 101) END Birthday, WithDomain, UserName 
		FROM tblHR_PersonnelMaster 
		WHERE LastName LIKE @pstrFind + '%'
END

ELSE IF @pOption = 14 -- Create employee
	BEGIN	
		DECLARE @err INT = 0, @err1 INT = 0, @err2 INT = 0, @err3 INT = 0
		DECLARE @Inc INT = 0
		--SELECT TOP 1 @pCheckAccountNum = Username, @pIDNumber = RIGHT('00000000' + IDNumber, 8), @pPassword = [Password] FROM @TypeHR 
		SELECT TOP 1 @pCheckAccountNum = Username, @pIDNumber = RIGHT('00000000' + IDNumber, 8) FROM @TypeHR 

		IF EXISTS(SELECT 1 FROM tblHR_PersonnelMaster WHERE UserName = @pCheckAccountNum)
			BEGIN
				SELECT @Inc = COUNT(*) FROM tblHR_PersonnelMaster WHERE LEFT(UserName, LEN(@pUserName)) = @pUserName

				SET @Inc = @Inc + 1

				SET @pUserName = UPPER(@pCheckAccountNum) + CONVERT(VARCHAR, @Inc)
			END
		ELSE
			BEGIN
				SET @pUserName = UPPER(@pCheckAccountNum)
			END

		BEGIN
			IF EXISTS(SELECT IDNumber FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber)
				BEGIN
					RAISERROR('ID Number already exists. ', 11, 1) 
				END
			ELSE
				BEGIN
				INSERT INTO tblHR_PersonnelMaster 
				(IDNumber, LastName, FirstName, MiddleName, Suffix, DTBirth, EmployeeGroup, EmployeeSubGroup,
						Gender, CivilStatus, HomeAddress, District, City, ContactNumber, TINumber, SSSNumber, PhilHealthNumber, HDMFNumber, PayrollType,
						SavingsAccountNum, BankKey, CheckAccountNum, TaxStatus, NumDependents, Position,
					CostCenter, DepartmentCode, UnitCode, DTHired, DTRegular, DTSeparated, SchedCode, 
					WithDomain, UserName, DTCreated, CreatedBy)
				SELECT @pIDNumber, LastName, FirstName, MiddleName, ISNULL(Suffix,''), DTBirth, EmployeeGroup, EmployeeSubGroup,
					1, 0, '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 
				SUBSTRING(CostCenter, PATINDEX('%[^0]%', CostCenter + '.'), LEN(CostCenter)),
				DepartmentCode, UnitCode, DTHired, NULL, DTSeparated, SchedCode, WithDomain, 
				@pUserName,  GETDATE(),  @pCreatedBy 
				FROM @TypeHR
				SET @err = @@ERROR

				INSERT INTO tblHR_PersonnelMasterEXT (UserName, EmailAddress, Position, Location, CreatedBy, DateCreated)
				SELECT @pUserName, DTRegular, Position, 'WTO', @pCreatedBy, GETDATE()
				FROM @TypeHR

				-- CREATE SOA
				INSERT INTO tblHR_SOAPersonnelMaster 
				VALUES (@pIDNumber, NULL, NULL)
				SET @err1 = @@ERROR

				-- CREATE LOGIN CREDENTIAL FOR NDESS
				IF NOT EXISTS (SELECT 1 FROM Login2 WHERE UserName IN (SELECT UserName FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber))
					BEGIN
						INSERT INTO Login2 (UserName, FName, LName, [Password], SAPUser, Department, Position, Approver,Category,SAPAccess, BirthDate)
						SELECT DISTINCT UPPER(a.Username) AS 'UserName', a.FirstName, a.LastName, [Password],
						'NELTEX_Batch' AS 'SAPUser', b.DepartmentName, e.PSTDESC, NULL AS 'Approver', 'OLD' AS 'Category', NULL AS 'SAPAccess', a.DTBirth 
						FROM tblHR_PersonnelMaster a 
							INNER JOIN tblHR_DepartmentUnit b on a.DepartmentCode = b.DepartmentCode
							INNER JOIN tblHR_PersonnelMasterEXT c ON a.UserName = c.UserName 
							INNER JOIN @TypeHR d ON a.IDNumber = d.IDNumber
							INNER JOIN tblUAM_Position e ON c.Position = e.UAMPOSI
						WHERE a.IDNumber = @pIDNumber 
						SET @err2 = @@ERROR
					END

				-- CREATE LOGIN LOGS 
				INSERT INTO tblHR_Login2Logs
				SELECT @pUserName, 'PASSWORD','',[Password], @pCreatedBy, GETDATE(),NULL,NULL, 1 FROM @TypeHR
				SET @err3 = @@ERROR

				-- UPDATE PASSWORD Login2
				UPDATE a
				SET a.Password = b.NewValue
				FROM Login2 a
					INNER JOIN tblHR_Login2Logs b ON a.Username = b.Username
				WHERE a.Username = @pUserName
					AND FieldName = 'PASSWORD'

				SET @gMsg = @err & @err1 & @err2 & @err3

				-- CREATE MOU ON DWORKS
				IF @err = 0 AND @err1 = 0 AND @err2 = 0 AND @err3 = 0 
					BEGIN
						SET @POSI = (SELECT Position FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber )
						EXEC spUAM_AutoFillMOU @pIDNumber, 1, @POSI	
					END
				ELSE
					RAISERROR('NO CREATED MOU. s%',16,1, @gMsg)
				END

				-- Insert other automated access starting here --

			END
		END

ELSE IF @pOption = 15 -- Update employee
	BEGIN
		SELECT TOP 1 @pUserName = Username, @pIDNumber = IDNumber 
		FROM @TypeHR 

		IF EXISTS (SELECT 1 FROM @TypeHR WHERE DTBirth IS NOT NULL AND DTBirth <> '')
		BEGIN
			UPDATE A SET A.LastName = B.LastName, A.FirstName = B.FirstName, A.MiddleName = B.MiddleName
			, A.Suffix = ISNULL(B.Suffix, ''), A.DTBirth = B.DTBirth, A.EmployeeGroup = B.EmployeeGroup, A.EmployeeSubGroup = B.EmployeeSubGroup
			, A.CostCenter = SUBSTRING(B.CostCenter, PATINDEX('%[^0]%',  B.CostCenter + '.'), LEN(B.CostCenter))
			, A.DepartmentCode = B.DepartmentCode, A.UnitCode = B.UnitCode, A.DTHired = B.DTHired
			, A.DTRegular = B.DTRegular, A.DTSeparated = B.DTSeparated, A.SchedCode = B.SchedCode
			, LastUpdateBy = @pCreatedBy , DTModified = GETDATE()
			, Gender = 1, CivilStatus = 0, HomeAddress = '', District = '', City = '', ContactNumber = '', TINumber = '', SSSNumber = '', PhilHealthNumber = '',
			HDMFNumber = '', PayrollType = '', SavingsAccountNum = '', BankKey = '', CheckAccountNum = '', TaxStatus = '', NumDependents = '', Position = ''
			FROM tblHR_PersonnelMaster A INNER JOIN @TypeHR B ON A.IDNumber = B.IDNumber
			WHERE A.IDNumber = @pIDNumber

			UPDATE A SET A.Position = B.Position, A.UpdatedBy = @pCreatedBy, A.DateUpdated = GETDATE()
			FROM tblHR_PersonnelMasterEXT A INNER JOIN @TypeHR B ON A.UserName = B.UserName
			WHERE A.UserName = @pUserName

			UPDATE A SET A.Position = d.Position
			FROM tblHR_PersonnelMaster a
			INNER JOIN tblHR_PersonnelMasterEXT c ON a.UserName = c.UserName INNER JOIN @TypeHR d ON a.IDNumber = d.IDNumber

			--CREATE ACCF IF THE EMPLOYEE IS SEPARATED 
			SET @POSI = (SELECT TOP 1 Position from tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber )
			SET @pDTSeparated = (SELECT TOP 1 DTSeparated FROM tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber)
			IF @pDTSeparated IS NOT NULL AND @pDTSeparated <> ''
				BEGIN 
					-- exec spUAM_AutoFillACCF '0000000093',@pUserName, 2, @POSI
					SELECT 1
				END
			-----
		END
	ELSE
		RAISERROR('Birth Date is required. Please Try Again!',11,1) 
	END

ELSE IF @pOption = 16 -- Save generated password in existing employee
	BEGIN
		SET @pUserName = (SELECT TOP 1 Username from tblHR_PersonnelMaster WHERE IDNumber = @pIDNumber)

		IF EXISTS(SELECT * FROM tblHR_Login2Logs where Username =  @pUserName)
			BEGIN

				SET @pOldValue = (SELECT TOP 1 NewValue FROM tblHR_Login2Logs WHERE Username =  @pUserName ORDER BY ID DESC)

				UPDATE tblHR_Login2Logs SET TAG = 0 WHERE Username =  @pUserName 

				INSERT INTO tblHR_Login2Logs
				(Username, FieldName, OldValue, NewValue, ChangedBy, DateChanged, Tag)
				VALUES
				(@pUserName, 'PASSWORD', @pOldValue, @pPassword, @pCreatedBy, GETDATE(), 1)

				UPDATE Login2 SET Category = 'NEW', [Password] = @pPassword WHERE Username = @pUserName
			END
		ELSE
			BEGIN
				INSERT INTO tblHR_Login2Logs
				SELECT @pUserName, 'PASSWORD','',@pPassword, @pCreatedBy, GETDATE(),NULL,NULL, 1 

				UPDATE Login2 SET Category = 'NEW', [Password] = @pPassword WHERE Username = @pUserName
			END

		SET @pFieldName = (select top 1 DateChanged from tblHR_Login2Logs where username = @pUserName order by id desc)
		SELECT @pNewPassword As [Password], CASE WHEN ISNULL(@pFieldName,'') = '' THEN '' 
		ELSE 'Password has been generated last ' + Convert(varchar, @pFieldName , 100) END As Note

	END





*/